.theme-toggle {
  @apply flex items-center justify-center w-10 h-10 rounded-full bg-transparent border-none cursor-pointer transition-colors duration-300;

  &:hover {
    @apply bg-black/10;
  }

  .dark & {
    &:hover {
      @apply bg-white/10;
    }
  }

  .icon {
    @apply w-6 h-6;
  }
}
