:host {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  top: 100%;
}

.error-container {
  padding-top: 4px;
  color: #f44336;
  font-size: 12px;
  line-height: 1.2;
}

.error-message {
  margin-bottom: 2px;
}