:host {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
}

.error-container {
  @apply text-app-danger;

  padding-top: 4px;
  font-size: 12px;
  line-height: 1.2;
}

.error-message {
  margin-bottom: 2px;
}
