<ng-container *transloco="let t">
  <div class="coupon-list">
    @if (showHeader()) {
      <div class="coupon-list__header">
        <span class="coupon-list__title">{{ t("couponList.title") }}</span>
        <button
          type="button"
          class="coupon-list__see-all"
          (click)="navigateToMyCoupons()"
        >
          {{ t("couponList.seeAll") }}
        </button>
      </div>
    }

    <app-coupon-list-tabs
      [tabs]="tabs"
      [activeTab]="activeTab()"
      [total]="total()"
      (tabChange)="selectTab($event)"
    />

    <div
      class="coupon-list__content"
      [class.coupon-list__content--scrollable]="scrollable()"
    >
      @if (isLoading()) {
        <div class="coupon-list__loading">
          <pb-spinner size="lg" />
        </div>
      } @else if (coupons().length === 0) {
        <div class="coupon-list__empty">
          <pb-icon icon="info" size="lg" color="primary"></pb-icon>
          <p class="coupon-list__empty-title">{{ t(emptyTitleKey()) }}</p>
          @if (activeTab() === "open") {
            <p class="coupon-list__empty-text">
              {{ t("couponList.emptyText") }}
            </p>
            <button
              type="button"
              class="coupon-list__cta"
              (click)="navigateToOffer()"
            >
              {{ t("couponList.checkOffer") }}
            </button>
          }
        </div>
      } @else {
        <div class="coupon-items">
          @for (coupon of coupons(); track coupon.id) {
            <app-coupon-list-item
              [coupon]="coupon"
              (open)="openDetails(coupon)"
            />
          }
        </div>
      }
    </div>
  </div>
</ng-container>
