POSTGRES_AUTH_DB=authdb
POSTGRES_AUTH_USER=auth_user
POSTGRES_AUTH_PASSWORD=auth_pwd

POSTGRES_MATCH_DB=matchdb
POSTGRES_MATCH_USER=match_user
POSTGRES_MATCH_PASSWORD=changeme

POSTGRES_COUPON_DB=coupondb
POSTGRES_COUPON_USER=coupon_user
POSTGRES_COUPON_PASSWORD=changeme

POSTGRES_WALLET_DB=walletdb
POSTGRES_WALLET_USER=wallet_user
POSTGRES_WALLET_PASSWORD=changeme

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=changeme
RABBITMQ_PORT=5672


JWT_SECRET=changeme
JWT_KEY_ID=poorbet-key-1

AUTH_ISSUER_URI=http://auth-service:8080
AUTH_JWKS_URI=http://auth-service:8080/.well-known/jwks.json
AUTH_SERVICE_URL=http://auth-service:8080

AUTH_SERVICE_CLIENT_SECRET=changeme
MATCH_SERVICE_CLIENT_SECRET=changeme
COUPON_SERVICE_CLIENT_SECRET=changeme
