version: "3.3"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - main_network

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "8081:8081"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - API_KEY=${API_KEY}
    networks:
      - main_network
    depends_on:
      - user-service
      - user-db

  python-trainer:
    build: ./odds-training/python-scripts
    volumes:
      - ./data:/app/data
    networks:
      - main_network

  odds-service:
    build:
      context: ./odds-service
      dockerfile: Dockerfile.dev
    container_name: odds-service
    volumes:
      - ./odds-service:/app
      - ./data/models:/app/data/models
      - ~/.m2:/root/.m2
    ports:
      - "8085:8080"
      - "5072:5072"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - MODEL_PATH=/app/data/models/match_predictor.onnx
    networks:
      - main_network

  simulation-service:
    build:
      context: ./simulation-service
      dockerfile: Dockerfile.dev
    container_name: simulation-service
    volumes:
      - ./simulation-service:/app
      - ~/.m2:/root/.m2
    ports:
      - "8084:8080"
      - "5073:5073"
    networks:
      - main_network

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - API_KEY=${API_KEY}
    depends_on:
      - user-db
    networks:
      - main_network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  teams-service:
    build:
      context: ./teams-service
      dockerfile: Dockerfile.dev
    container_name: teams-service
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://teams-db:5432/${POSTGRES_TEAMS_DB}
      - POSTGRES_USER=${POSTGRES_TEAMS_USER}
      - POSTGRES_PASSWORD=${POSTGRES_TEAMS_PASSWORD}
    volumes:
      - ./teams-service:/app
      - ~/.m2:/root/.m2
    ports:
      - "8082:8080"
      - "5071:5071"
    depends_on:
      - redis
      - teams-db
    networks:
      - main_network

  match-service:
    build:
      context: ./match-service
      dockerfile: Dockerfile.dev
    container_name: match-service
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://match-db:5432/${POSTGRES_MATCH_DB}
      - POSTGRES_USER=${POSTGRES_MATCH_USER}
      - POSTGRES_PASSWORD=${POSTGRES_MATCH_PASSWORD}
      - INSTANCE_ID=match-1
    volumes:
      - ./match-service:/app
      - ~/.m2:/root/.m2
    ports:
      - "8083:8080"
      - "5070:5070"
    depends_on:
      - redis
      - teams-db
      - match-db
    networks:
      - main_network

  user-db:
    build:
      context: ./user-db
      dockerfile: Dockerfile
    container_name: user-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - user_data:/var/lib/postgresql/data
    networks:
      - main_network

  match-db:
    build:
      context: ./match-db
      dockerfile: Dockerfile
    container_name: match-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_MATCH_USER}
      POSTGRES_PASSWORD: ${POSTGRES_MATCH_PASSWORD}
      POSTGRES_DB: ${POSTGRES_MATCH_DB}
    ports:
      - "5434:5432"
    volumes:
      - match_data:/var/lib/postgresql/data
    networks:
      - main_network

  teams-db:
    build:
      context: ./teams-db
      dockerfile: Dockerfile
    container_name: teams-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_TEAMS_USER}
      POSTGRES_PASSWORD: ${POSTGRES_TEAMS_PASSWORD}
      POSTGRES_DB: ${POSTGRES_TEAMS_DB}
    ports:
      - "5433:5432"
    volumes:
      - teams_data:/var/lib/postgresql/data
    networks:
      - main_network

networks:
  main_network:
    driver: bridge

volumes:
  user_data:
  teams_data:
  match_data:
