version: "3.3"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - main_network

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "8081:8081"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - API_KEY=${API_KEY}
    networks:
      - main_network
    depends_on:
      - user-service
      - db

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - API_KEY=${API_KEY}
    depends_on:
      - db
    networks:
      - main_network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  teams-service:
    build:
      context: ./teams-service
      dockerfile: Dockerfile
    container_name: teams-service
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://teams-db:5432/${POSTGRES_TEAMS_DB}
      - POSTGRES_USER=${POSTGRES_TEAMS_USER}
      - POSTGRES_PASSWORD=${POSTGRES_TEAMS_PASSWORD}
    ports:
      - "8082:8080"
    depends_on:
      - redis
      - teams-db
    networks:
      - main_network

  match-service:
    build:
      context: ./match-service
      dockerfile: Dockerfile.debug
#      dockerfile: Dockerfile
    container_name: match-service
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    ports:
      - "8083:8080"
      - "5005:5005"
    depends_on:
      - redis
      - teams-db
    networks:
      - main_network

  db:
    build:
      context: ./user-db
      dockerfile: Dockerfile
    container_name: user-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - user_data:/var/lib/postgresql/data
    networks:
      - main_network

  teams-db:
    build:
      context: ./teams-db
      dockerfile: Dockerfile
    container_name: teams-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_TEAMS_USER}
      POSTGRES_PASSWORD: ${POSTGRES_TEAMS_PASSWORD}
      POSTGRES_DB: ${POSTGRES_TEAMS_DB}
    ports:
      - "5433:5432"
    volumes:
      - teams_data:/var/lib/postgresql/data
    networks:
      - main_network

networks:
  main_network:
    driver: bridge

volumes:
  user_data:
  teams_data:
