<pb-card>
  <div pbCardHeader class="flex w-full justify-between pb-4">
    <pb-skeleton width="4.5rem" height="1.250rem" />
    <pb-skeleton width="2rem" height="1.250rem" />
  </div>

  <div pbCardBody>
    <div class="grid grid-cols-[1fr_auto_1fr] items-center gap-4 px-2 py-2">
      <div class="live-match-skeleton__team">
        <pb-skeleton width="4rem" height="4rem" borderRadius="9999px" />
        <pb-skeleton width="4.5rem" height="0.875rem" />
      </div>

      <pb-skeleton width="3.5rem" height="2.5rem" />

      <div class="live-match-skeleton__team">
        <pb-skeleton width="4rem" height="4rem" borderRadius="9999px" />
        <pb-skeleton width="4.5rem" height="0.875rem" />
      </div>
    </div>
  </div>
</pb-card>
