.form-field-container {
  @apply relative mb-4;

  .input-wrapper {
    @apply flex items-center w-full mb-6;
  }

  .form-field-label {
    @apply text-primary-700 font-bold;
  }

  &.focused {
    .form-field-label {
      @apply text-blue-500;
    }
  }

  &.invalid {
    .form-field-label {
      @apply dark:text-red-300 text-red-500;
    }
  }
}
