.form-field-container {
  @apply relative mb-4;

  .input-wrapper {
    @apply flex items-center w-full;

    .prefix,
    .suffix {
      @apply flex items-center;

      &:empty {
        @apply hidden;
      }
    }

    .prefix {
      @apply mr-2;
    }

    .suffix {
      @apply ml-2;
    }

    .form-field-input {
      @apply flex-1 w-full py-2 border-none bg-transparent text-base;

      &:focus {
        @apply outline-none;
      }

      &:disabled {
        @apply cursor-not-allowed opacity-70;
      }
    }
  }

  .underline {
    @apply relative w-full h-[2px];

    .base-line {
      @apply absolute bottom-0 left-0 w-full h-[2px] bg-gray-300;
    }

    .focus-line {
      @apply absolute bottom-0 left-0 w-0 h-[2px];
      background: #3f51b5;
      background: linear-gradient(
        90deg,
        rgba(63, 81, 181, 1) 0%,
        rgba(140, 0, 255, 1) 100%
      );
      transition: width 0.3s ease;
    }
  }

  &.focused {
    .form-field-label {
      @apply text-blue-500;
    }

    .underline .focus-line {
      width: 100%;
    }
  }

  &.invalid {
    .form-field-label {
      @apply dark:text-red-300 text-red-500;
    }

    .underline .base-line {
      @apply dark:bg-red-300 bg-red-500;
    }

    &.focused .focus-line {
      width: 100%;
    }
  }
}
