<ng-container *transloco="let t; prefix: 'auth.login'">
  <div class="login-container">
    <app-pb-card stylesCss="w-96">
      <div class="header">
        <h2 class="base-clamp font-bold">{{ t("title") }}</h2>
      </div>

      <form [formGroup]="form">
        <pb-form-field>
          <pb-label> {{ t("email") }}</pb-label>
          <pb-input formControlName="email"></pb-input>
        </pb-form-field>

        <pb-form-field>
          <pb-label> {{ t("password") }}</pb-label>
          <pb-input formControlName="password"></pb-input>
        </pb-form-field>

        <div class="form-actions">
          <pb-button
            [disabled]="!form.valid"
            variant="primary"
            size="md"
            [fullWidth]="true"
            (click)="onSubmit()"
          >
            {{ t("login") }}
          </pb-button>
        </div>

        <div class="register-link">
          {{ t("dontHaveAccount") }}

          <pb-button
            variant="outline"
            size="sm"
            [routerLink]="RoutePath.Register"
          >
            {{ t("register") }}
          </pb-button>
        </div>
      </form>
    </app-pb-card>
  </div>
</ng-container>
