@if (team$ | async; as team) {
  <div
    class="flex min-w-0 items-center gap-3"
    [class.flex-row-reverse]="align() === 'end'"
  >
    <div
      class="live-match-team__logo-wrapper"
      [class]="team.img && !imgError() ? '' : avatarColorClass()"
    >
      @if (team.img && !imgError()) {
        <img
          class="live-match-team__logo"
          [src]="team.img"
          [alt]="team.name"
          (error)="imgError.set(true)"
        />
      } @else {
        <span class="live-match-team__logo-fallback">{{
          initials(team.name)
        }}</span>
      }
    </div>
    <p
      class="live-match-team__team-name"
      [class.text-right]="align() === 'end'"
      >{{ team.name }}</p
    >
  </div>
}
