:host {
  @apply block min-w-0;
}

.live-match-team {
  &__logo-wrapper {
    @apply flex h-12 w-12 shrink-0 items-center justify-center overflow-hidden rounded-lg;
  }

  &__logo {
    @apply h-full w-full object-contain;
  }

  &__logo-fallback {
    @apply text-sm font-bold text-white;
  }

  &__team-name {
    @apply w-full min-w-0 text-sm font-medium text-app-text md:text-base;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
