<!-- registration.component.html -->
<div class="registration-container">
  <div class="card">
    <div class="header">
      <h2>Zarejestruj się</h2>
      <app-theme-toggle></app-theme-toggle>
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <app-pb-input label="Imię" formControlName="firstName">
          </app-pb-input>
        </div>

        <div class="form-group">
          <app-pb-input label="Nazwisko" formControlName="lastName">
          </app-pb-input>
        </div>
      </div>

      <div class="form-group">
        <app-pb-input label="Email" type="email" formControlName="email">
        </app-pb-input>
      </div>

      <div class="form-group">
        <app-pb-input label="Hasło" type="password" formControlName="password">
        </app-pb-input>
      </div>

      <div class="form-group">
        <app-pb-input
          label="Potwierdź hasło"
          type="password"
          formControlName="confirmPassword"
        >
        </app-pb-input>
      </div>

      <div class="form-group terms-group">
        <div class="checkbox-container">
          <input type="checkbox" id="terms" formControlName="terms" />
          <label for="terms"
            >Akceptuję <a href="#">regulamin</a> i
            <a href="#">politykę prywatności</a></label
          >
        </div>
        <div
          *ngIf="submitted && registrationForm.get('terms')?.invalid"
          class="error-message"
        >
          Musisz zaakceptować regulamin i politykę prywatności
        </div>
      </div>

      <div class="form-actions">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="registrationForm.invalid"
        >
          Zarejestruj się
        </button>
      </div>

      <div class="login-link">
        Masz już konto? <a routerLink="/login">Zaloguj się</a>
      </div>
    </form>
  </div>
</div>
