<div class="container">
  <h2 class="title">Rejestracja</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    <app-pb-input
      [label]="'Nazwa'"
      [placeholder]="'Wpisz nazwę'"
      formControlName="name"
    ></app-pb-input>

    <app-pb-input
      [label]="'email'"
      [placeholder]="'Wpisz email'"
      formControlName="email"
    ></app-pb-input>

    <app-pb-input
      label="Hasło"
      type="password"
      [placeholder]="'Wpisz hasło'"
      formControlName="password"
    ></app-pb-input>

    <app-pb-input
      label="powtorz hasło"
      type="password"
      placeholder="powtorz hasło"
      formControlName="repeatPassword"
    ></app-pb-input>

    <!-- Hasło -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Hasło</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Wprowadź hasło"
      />
    </mat-form-field>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
      class="submit-button"
    >
      Zarejestruj się
    </button>
  </form>
</div>
