<div class="auth-container">
  <pb-card variant="highlighted" stylesCss="w-full max-w-[420px]">
    <app-auth-card-header
      pbCardHeader
      titleKey="auth.login.title"
      subtitleKey="auth.login.subtitle"
    ></app-auth-card-header>

    <div pbCardBody>
      <app-login-form (submitForm)="onSubmitForm($event)"></app-login-form>
    </div>

    <div pbCardFooter class="auth-footer">
      {{ "auth.login.dontHaveAccount" | transloco }}
      <pb-button
        size="sm"
        type="link"
        variant="link"
        [routerPath]="RoutePath.Register"
      >
        {{ "auth.login.register" | transloco }}
      </pb-button>
    </div>
  </pb-card>
</div>
