<div
  class="input-container"
  [class.focused]="focused()"
  [class.has-value]="value() !== ''"
>
  <!-- <input
    class="pb-input"
    [placeholder]="placeholder()"
    [value]="value()"
    [disabled]="disabled()"
    (input)="handleInput($event)"
    (focus)="_focusChanged(true)"
    (blur)="_focusChanged(false)"
  /> -->
     <input 
      class="pb-input"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="handleInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
  <div class="underline">
    <div class="base-line"></div>
    <div class="focus-line"></div>
  </div>
</div>
