<ng-container *transloco="let t; prefix: 'bet.poolCard'">
  <app-pb-card>
    <div class="pool-card" pbCardBody>
      @for (match of pool().matches; track match.matchId) {
        <section
          class="pool-card__match"
          [class.pool-card__match--disabled]="hasStarted()"
        >
          <div class="pool-card__teams">
            <span class="pool-card__team">
              @if (getTeamName(match.homeTeamId) | async; as homeTeamName) {
                {{ homeTeamName }}
              } @else {
                {{ match.homeTeamId | slice: 0 : 8 }}
              }
            </span>
            <span class="pool-card__versus">vs</span>
            <span class="pool-card__team pool-card__team--away">
              @if (getTeamName(match.awayTeamId) | async; as awayTeamName) {
                {{ awayTeamName }}
              } @else {
                {{ match.awayTeamId | slice: 0 : 8 }}
              }
            </span>
          </div>

          <div class="grid grid-cols-3 gap-2">
            <app-odds-button
              label="1"
              [value]="match.odds.homeWin"
              [selected]="isSelected(match.matchId, BetType.HomeWin)"
              [disabled]="hasStarted()"
              (oddsClick)="
                toggleBet(match, BetType.HomeWin, '1', match.odds.homeWin)
              "
            ></app-odds-button>
            <app-odds-button
              label="X"
              [value]="match.odds.draw"
              [selected]="isSelected(match.matchId, BetType.Draw)"
              [disabled]="hasStarted()"
              (oddsClick)="toggleBet(match, BetType.Draw, 'X', match.odds.draw)"
            ></app-odds-button>
            <app-odds-button
              label="2"
              [value]="match.odds.awayWin"
              [selected]="isSelected(match.matchId, BetType.AwayWin)"
              [disabled]="hasStarted()"
              (oddsClick)="
                toggleBet(match, BetType.AwayWin, '2', match.odds.awayWin)
              "
            ></app-odds-button>
          </div>
        </section>
      }
    </div>
  </app-pb-card>
</ng-container>
