@switch (renderAs) { @case ('link') {
<a
  [routerLink]="routerLink()!"
  [href]="href()!"
  [attr.aria-label]="ariaLabel()"
  [class.disabled]="disabled()"
  [ngClass]="['pb-button', 'pb-button-' + type()]"
  (click)="onClick($event)"
>
  <ng-content />
  {{ text() | transloco }}
</a>
} @case ('button') {
<button
  [type]="htmlType()"
  [disabled]="disabled()"
  [attr.aria-label]="ariaLabel()"
  [ngClass]="['pb-button', 'pb-button-' + type()]"
  (click)="onClick($event)"
>
  {{ text() | transloco }}
</button>
} @default {
<ng-content />
} }
