<ng-container *ngIf="routerLink(); else regularButton">
  <a
    [routerLink]="routePath()"
    [ngClass]="getButtonClasses()"
    [attr.aria-disabled]="disabled()"
    [class.pointer-events-none]="disabled()"
    [class.opacity-50]="disabled()"
    role="button"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </a>
</ng-container>

<ng-template #regularButton>
  <button
    [type]="type()"
    [ngClass]="getButtonClasses()"
    [disabled]="disabled()"
    (click)="onClick($event)"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </button>
</ng-template>

<ng-template #buttonContent>
  <span class="pb-button__content">
    @if(iconTemplate()){
    <ng-content select="pb-icon"></ng-content>
    }
    <span
      class="button__text"
      [ngClass]="{ 'pb-button__text--loading': loading() }"
    >
      <ng-content></ng-content>
    </span>
  </span>
</ng-template>
