<div
  class="input-container"
  [class.input-container--underline]="variant() === 'underline'"
  [class.input-container--surface]="variant() === 'surface'"
  [class.focused]="focused()"
  [class.invalid]="invalid() && touched()"
  [class.has-value]="value() !== ''"
  [class.has-icon-left]="hasIcon"
>
  @if (hasIcon) {
    <div class="icon icon--left">
      <ng-content select="[pbInputIcon]"></ng-content>
    </div>
  }

  <input
    class="pb-input"
    [id]="labelId()"
    [type]="type()"
    [placeholder]="placeholder()"
    [value]="value()"
    [attr.aria-invalid]="invalid() && touched() ? true : null"
    [attr.aria-describedby]="invalid() && touched() ? errorsId() : null"
    (input)="handleInput($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />

  @if (variant() === "underline") {
    <div class="underline">
      <div class="base-line"></div>
      <div class="focus-line"></div>
    </div>
  }
</div>
