.app-header {
  @apply fixed left-0 right-0 top-0 z-[1000] box-border px-4 md:px-5;

  height: var(--app-header-height);
  border-bottom: 1px solid theme("colors.app.border");

  &__content {
    @apply mx-auto flex h-full w-full max-w-[1200px] items-center justify-between;
  }

  &__left {
    @apply flex h-full items-center gap-5;
  }

  &__right {
    @apply items-center gap-3;
  }

  &__logo-link {
    @apply h-full;
  }

  &__logo {
    @apply h-full;
  }

  &__nav-list {
    @apply m-0 flex list-none gap-4 p-0;
  }

  &__nav-link {
    @apply py-1 font-bold text-app-text no-underline;
  }

  &__right {
    @apply flex items-center gap-2;
  }

  &__user {
    .material-icons {
      font-size: 20px;
    }

    &:hover {
      background: var(--color-surface-soft);
    }
  }
}
