<ng-container *transloco="let t">
  <header class="app-header">
    <div class="header-content">
      <div class="header-left">
        <a routerLink="/" class="logo-link">
          <img src="assets/logo.png" alt="Logo Aplikacji" class="app-logo" />
        </a>

        @if (true) {
        <nav class="header-nav-desktop">
          <ul>
            @for (item of menuItems; track item.link) {
            <li>
              <a [routerLink]="item.link">
                {{ t(item.labelKey) }}
              </a>
            </li>
            }
          </ul>
        </nav>
        }
      </div>

      <div class="header-right">
        <app-language-switcher />

        @if(isLoggedIn$ | async) { Zalogowany }@else {
        <pb-button variant="outline" [routerLink]="RoutePath.Login">
          {{ t("auth.register.login") }}
        </pb-button>

        <pb-button variant="primary" [routerLink]="RoutePath.Register">
          {{ t("auth.register.title") }}
        </pb-button>
        }
      </div>
    </div>
  </header>
</ng-container>
