<ng-container *transloco="let t">
  <header class="app-header">
    <div class="app-header__content">
      <div class="app-header__left">
        <a routerLink="/" class="h-full">
          <img src="assets/logo.png" alt="Logo" class="h-full" />
        </a>
      </div>

      <div class="app-header__right">
        <a
          [routerLink]="routingService.createLink(RoutePath.Ranking)"
          routerLinkActive="app-header__ranking--active"
          class="app-header__ranking pb-overlay-trigger hidden md:inline-flex"
          [attr.aria-label]="t('menu.ranking')"
        >
          <pb-icon icon="leaderboard" size="m"></pb-icon>
        </a>
        @if (isLoggedIn$ | async) {
          <app-coupon-dropdown class="hidden md:inline-block" />
        }
        <app-language-switcher />
        <button
          class="app-header__user pb-overlay-trigger"
          (click)="openUserPanel()"
          [attr.aria-label]="t('userPanel.open')"
        >
          @if (isLoggedIn$ | async) {
            <span class="app-header__balance">
              <span class="app-header__balance-label">{{
                t("header.wallet")
              }}</span>
              <span class="app-header__balance-value">
                <app-user-balance />
              </span>
            </span>
          }
          <pb-icon icon="account_circle" size="m"></pb-icon>
        </button>
      </div>
    </div>
  </header>
</ng-container>
