<ng-container *transloco="let t">
  <header class="app-header">
    <div class="app-header__content">
      <div class="app-header__left">
        <a routerLink="/" class="h-full">
          <img src="assets/logo.png" alt="Logo" class="h-full" />
        </a>
      </div>

      <div class="app-header__right">
        @if (isLoggedIn$ | async) {
          <app-coupon-dropdown class="hidden md:inline-block" />
        }
        <app-language-switcher />
        <button
          class="app-header__user pb-overlay-trigger"
          (click)="openUserPanel()"
          [attr.aria-label]="t('userPanel.open')"
        >
          <pb-icon icon="account_circle" size="m"></pb-icon>
        </button>
      </div>
    </div>
  </header>
</ng-container>
