<ng-container *transloco="let t; prefix: 'auth.register'">
  <div class="registration-container">
    <app-pb-card>
      <div class="header">
        <h2>{{ t("title") }}</h2>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <pb-form-field type="email" formControlName="email">
            <pb-label> {{ "email" | transloco }}</pb-label>
          </pb-form-field>
        </div>

        <div class="form-group">
          <pb-form-field type="password" formControlName="password">
            <pb-label> {{ "password" | transloco }}</pb-label>
          </pb-form-field>
        </div>

        <div class="form-group">
          <pb-form-field type="password" formControlName="confirmPassword">
            <pb-label> {{ "confirmPassword" | transloco }}</pb-label>
          </pb-form-field>
        </div>

        <div class="form-actions">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!registrationForm.valid"
          >
            {{ t("register") }}
          </button>
        </div>

        <div class="login-link">
          {{ t("alreadyHaveAccount") }}
          <a routerLink="/login">{{ t("login") }}</a>
        </div>
      </form>
    </app-pb-card>
  </div>
</ng-container>
