<ng-container *transloco="let t; prefix: 'auth.register'">
  <div class="registration-container">
    <app-pb-card stylesCss="w-96">
      <div class="header">
        <h2>{{ t("title") }}</h2>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <pb-form-field type="email" formControlName="email">
          <pb-label> {{ t("email") | transloco }}</pb-label>
        </pb-form-field>

        <pb-form-field type="password" formControlName="password">
          <pb-label> {{  t("password") | transloco }}</pb-label>
        </pb-form-field>

        <pb-form-field type="password" formControlName="confirmPassword">
          <pb-label> {{ t("confirmPassword") | transloco }}</pb-label>
        </pb-form-field>

        <div class="form-actions">
          <pb-button
            type="submit"
            class="btn btn-primary"
            [disabled]="!registrationForm.valid"
          >
            {{ t("register") }}
          </pb-button>
        </div>

        <div class="login-link">
          {{ t("alreadyHaveAccount") }}
          <a routerLink="/login">{{ t("login") }}</a>
        </div>
      </form>
    </app-pb-card>
  </div>
</ng-container>
