<ng-container *transloco="let t; prefix: 'auth.register'">
  <div class="registration-container">
    <div class="card">
      <div class="header">
        <h2>{{ t("title") }}</h2>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <pb-input [label]="t('email')" type="email" formControlName="email">
          </pb-input>
        </div>

        <div class="form-group">
          <pb-input
            [label]="t('password')"
            type="password"
            formControlName="password"
          >
          </pb-input>
        </div>

        <div class="form-group">
          <pb-input
            [label]="t('confirmPassword')"
            type="password"
            formControlName="confirmPassword"
          >
          </pb-input>
        </div>

        <div class="form-actions">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!registrationForm.valid"
          >
            {{ t("register") }}
          </button>
        </div>

        <div class="login-link">
          {{ t("alreadyHaveAccount") }}
          <a routerLink="/login">{{ t("login") }}</a>
        </div>
      </form>
    </div>
  </div>
</ng-container>
