teams:
  service:
    url: http://teams-service:8080
    timeout:
      connect: 2s
      read: 3s

simulation:
  service:
    url: http://simulation-service:8080
    timeout:
      connect: 2s
      read: 3s

odds:
  service:
    url: http://odds-service:8080
    timeout:
      connect: 2s
      read: 3s

spring:
  application:
    name: match-service
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  devtools:
    restart:
      enabled: true
      poll-interval: 1000
    livereload:
      enabled: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  data:
    redis:
      host: redis
      port: 6379
      timeout: 2000ms
    cache:
      type: redis
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: 5672
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}

match-pool:
  matches-per-pool: 5
  pools-in-advance: 5
  pool-interval-minutes: 3
  schedule-rate-ms: 60000
