<nav class="mobile-bottom-menu" aria-label="Nawigacja mobilna">
  <ul class="mobile-menu-list">
    @for (item of menuItems; track item.link) {
      <li class="mobile-menu-item">
        <a
          [routerLink]="item.link"
          routerLinkActive="mobile-menu-link--active"
          [routerLinkActiveOptions]="{ exact: item.link === '/app' }"
          class="mobile-menu-link"
        >
          <span class="material-icons">{{ item.iconName }}</span>
          <span>{{ item.labelKey | transloco }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
