<pb-card>
  <div pbCardHeader class="live-match-card__header">
    <div class="live-match-card__status">
      <span class="live-match-card__live-dot">
        <span class="live-match-card__live-dot-ping"></span>
        <span class="live-match-card__live-dot-core"></span>
      </span>
      <span class="live-match-card__status-label">{{
        "bet.liveMatchCard.live" | transloco
      }}</span>
    </div>

    <span class="live-match-card__minute">{{ liveMatch().minute }}'</span>
  </div>

  <div pbCardBody>
    <div class="live-match-card__body-grid">
      <app-live-match-team [teamId]="liveMatch().homeTeamId" />

      <div class="live-match-card__score-block">
        <p class="live-match-card__score">
          <span class="live-match-card__score--home">{{
            liveMatch().homeScore
          }}</span>
          <span class="live-match-card__score-sep">:</span>
          <span class="live-match-card__score--away">{{
            liveMatch().awayScore
          }}</span>
        </p>
      </div>

      <app-live-match-team [teamId]="liveMatch().awayTeamId" />
    </div>
  </div>

  <div pbCardFooter>
    @if (liveMatch().eventType === MatchEventType.MatchEnded) {
      {{ "bet.liveMatchCard.matchFinished" | transloco }}
    } @else {
      {{ "bet.liveMatchCard.matchInProgress" | transloco }}
    }
  </div>
</pb-card>
