<pb-card>
  <div pbCardHeader class="flex w-full justify-between pb-4">
    <div class="flex items-center gap-2">
      @if (liveMatch().eventType !== MatchEventType.MatchEnded) {
        <span class="relative flex h-2.5 w-2.5">
          <span
            class="absolute inline-flex h-full w-full animate-ping rounded-full bg-app-danger opacity-80"
          ></span>
          <span
            class="relative inline-flex h-2.5 w-2.5 rounded-full bg-app-danger"
          ></span>
        </span>
        <span
          class="text-xs font-semibold uppercase tracking-wide text-app-text"
          >{{ "bet.liveMatchCard.live" | transloco }}</span
        >
      }
    </div>

    <span class="t-heading-xs text-app-primary">{{ liveMatch().minute }}'</span>
  </div>

  <div pbCardBody>
    <div class="grid grid-cols-[1fr_auto_1fr] items-center gap-4 px-2 py-2">
      <app-live-match-team [teamId]="liveMatch().homeTeamId" />

      <div class="flex flex-col items-center gap-1">
        <p class="flex items-center gap-2 text-4xl font-bold">
          <span class="text-app-accent">{{
            liveMatch().homeScore
          }}</span>
          <span class="text-app-textMuted">:</span>
          <span class="text-app-primary">{{
            liveMatch().awayScore
          }}</span>
        </p>
      </div>

      <app-live-match-team [teamId]="liveMatch().awayTeamId" />
    </div>
  </div>
</pb-card>
