<div
  #trigger="cdkOverlayOrigin"
  cdkOverlayOrigin
  class="dropdown-trigger"
  [class.dropdown-trigger--open]="isOpen()"
  (click)="toggleDropdown()"
>
  <ng-content select="[dropdownLabel]"></ng-content>
  <i [class.rotate]="isOpen()" class="bi bi-caret-down-fill dropdown-trigger__icon"></i>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin() || trigger"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayPositions]="positions()"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="pb-dropdown-backdrop"
  (backdropClick)="closeDropdown()"
  (detach)="closeDropdown()"
>
  <div class="dropdown-panel" [@dropdownAnimation]>
    <ul class="dropdown-list">
      <li
        *ngFor="let option of options()"
        (click)="selectOption(option)"
        class="dropdown-list-item"
        [class.dropdown-list-item--selected]="option.value === value()"
      >
        @if (optionTemplate()) {
          <ng-container
            *ngTemplateOutlet="optionTemplate()!; context: { $implicit: option }"
          ></ng-container>
        } @else {
          {{ option.label | transloco }}
        }
      </li>
    </ul>
  </div>
</ng-template>
