<form pbCardBody [formGroup]="form" (ngSubmit)="onSubmit()">
  <pb-form-field>
    <pb-label> {{ "auth.email.label" | transloco }}</pb-label>
    <pb-input
      formControlName="email"
      testId="login-email-input"
      [placeholder]="'auth.email.placeholder' | transloco"
    >
      <pb-icon icon="mail" size="m" pbInputIcon></pb-icon>
    </pb-input>
  </pb-form-field>

  <pb-form-field>
    <pb-label> {{ "auth.password.label" | transloco }}</pb-label>
    <pb-input
      formControlName="password"
      [type]="passwordFieldType()"
      autocomplete="current-password"
      testId="login-password-input"
      [placeholder]="'auth.password.placeholder' | transloco"
    >
      <pb-icon icon="lock" size="m" pbInputIcon></pb-icon>
      <button
        type="button"
        pbInputIconRight
        data-testid="login-password-toggle-button"
        [attr.aria-label]="
          (showPassword() ? 'auth.password.hide' : 'auth.password.show')
            | transloco
        "
        (click)="togglePasswordVisibility()"
      >
        <pb-icon
          [icon]="showPassword() ? 'visibility' : 'visibility_off'"
          size="m"
        ></pb-icon>
      </button>
    </pb-input>
  </pb-form-field>

  <div class="login-form__actions flex flex-col gap-4">
    <pb-button
      variant="primary"
      size="md"
      type="submit"
      testId="login-submit-button"
      [disabled]="submittingTestUser()"
      [loading]="submitting()"
      [fullWidth]="true"
    >
      {{ "auth.login.login" | transloco }}
    </pb-button>

    <div class="login-form__divider">
      <span>{{ "auth.login.orDivider" | transloco }}</span>
    </div>

    <pb-button
      variant="outline"
      size="md"
      type="button"
      testId="login-test-user-button"
      [fullWidth]="true"
      [disabled]="submitting()"
      [loading]="submittingTestUser()"
      (buttonClick)="loginAsTestUser()"
    >
      <pb-icon icon="science" size="m"></pb-icon>
      {{ "auth.login.loginAsTestUser" | transloco }}
    </pb-button>
    <p class="login-form__test-user-hint">
      {{ "auth.login.testUserHint" | transloco }}
    </p>
  </div>
</form>
