@if (betSlipService.selectedCount() === 0) {
  <app-coupon-empty />
} @else {
  <ul class="list" role="list">
    @for (bet of betSlipService.selectedBets(); track bet.matchId) {
      <li
        class="list__item pb-surface"
        [class.list__item--started]="isStarted(bet.matchStartTime)"
        [@listItemAnimation]
      >
        <div class="min-w-0 flex-1">
          <p class="t-heading-xs truncate">
            {{ bet.matchLabel }}
          </p>

          <p class="t-label mt-1 flex items-center gap-4">
            <app-bet-type-label [betType]="bet.betType" />
            <span class="list__item--dot" aria-hidden="true">•</span>
            <span class="t-primary">
              {{ bet.odds | number: "1.2-2" }}
            </span>
          </p>
          @if (isStarted(bet.matchStartTime)) {
            <p class="list__item-warning">
              {{ "coupon.matchStarted" | transloco }}
            </p>
          }
        </div>
        <pb-button
          size="sm"
          type="icon"
          variant="ghost"
          [ariaLabel]="'bet.coupon.removeAria' | transloco"
          (buttonClick)="betSlipService.removeSelection(bet.matchId)"
        >
          <pb-icon icon="close" size="s" />
        </pb-button>
      </li>
    }
  </ul>
}
