:host {
  display: block;
}

.user-dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(var(--app-surface));
  cursor: pointer;
  transition: all 200ms;
  border: 1px solid transparent;

  .user-icon {
    font-size: 16px;
    color: rgb(var(--app-primary));
    display: flex;
    align-items: center;
    justify-content: center;

    @media (prefers-reduced-motion: no-preference) {
      transition: color 200ms;
    }
  }
}
