<ng-container *transloco="let t">
  <app-pb-dropdown
    [options]="(filteredOptions$ | async) ?? []"
    [optionTemplate]="userMenuTpl"
    [highlightedOption]="false"
  >
    <div dropdownLabel class="user-dropdown__trigger">
      <div class="user-dropdown__balance">
        <app-user-balance />
      </div>
      <app-icon icon="account_circle" size="lg"></app-icon>
    </div>
  </app-pb-dropdown>

  <ng-template #userMenuTpl let-option>
    <app-icon [icon]="option.icon" size="s"></app-icon>
    <span>{{ t(option.label) }}</span>
  </ng-template>
</ng-container>
