<ng-container *transloco="let t">
  <app-pb-dropdown
    [options]="userMenuOptions"
    [optionTemplate]="userMenuTpl"
    [formControl]="userMenuControl"
  >
    <span dropdownLabel class="user-dropdown-trigger">
      <span class="material-icons user-icon">account_circle</span>
    </span>
  </app-pb-dropdown>

  <ng-template #userMenuTpl let-option>
    @let isLoggedIn = isLoggedIn$ | async;

    @if (option.value === "settings") {
      <span class="material-icons">settings</span>
      <span>{{ t(option.label) }}</span>
    } @else if (option.value === "login" && !isLoggedIn) {
      <span class="material-icons">login</span>
      <span>{{ t(option.label) }}</span>
    } @else if (option.value === "register" && !isLoggedIn) {
      <span class="material-icons">person_add</span>
      <span>{{ t(option.label) }}</span>
    } @else if (option.value === "logout" && isLoggedIn) {
      <span class="material-icons">logout</span>
      <span>{{ t(option.label) }}</span>
    }
  </ng-template>
</ng-container>
