.register-container {
  @apply flex w-full items-center justify-center px-4 pb-8 pt-0 lg:pt-10;
}

.auth-footer {
  @apply text-app-textMuted;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  font-size: 13px;
}
