name: Run microservices tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [
          coupon-service,
          match-service,
          odds-service,
          odds-training,
          simulation-service,
          teams-service
        ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Run tests for ${{ matrix.service }}
        working-directory: ${{ matrix.service }}
        run: mvn clean test